<style>
  body {
   background-color: #000;
   background-image: url("bg.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   padding: 50px;
 }
 img {
   padding: 25px;
   width: 50px;
   height: 50px;
   border-radius: 20px;
   background-color: rgba(0, 0, 0, 30%);
   filter: brightness(60%);
   cursor: pointer;
 }
 img:hover {
   background-color: rgba(0, 0, 0, 50%);
   filter: brightness(100%);
 }
</style>
<center>
  <a href="https://twitter.com/"><img src="icon/twitter.svg"/></a>
  <a href="https://youtube.com/"><img src="icon/youtube.svg"/></a>
  <a href="https://github.com/"><img src="icon/github.svg"/></a>
  <a href="https://codepen.io/"><img src="icon/codepen.svg"/></a>
  <a href="https://www.figma.com/"><img src="icon/figma.svg"/></a>
</center>